.contactUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .contactForm {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contactForm h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .contactForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contactForm input,
  .contactForm textarea {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contactForm textarea {
    height: 150px;
  }
  
  .contactForm button {
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contactForm button:hover {
    background-color: #0056b3;
  }
  
  .map {
    flex: 1;
    padding: 20px;
  }
  
  .map h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  iframe {
    width: 100%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  