.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f9fb;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.textSection {
  width: 50%;
}

.primaryText {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.secondaryText {
  font-size: 1.25rem;
  color: #666;
}

.imageScroller {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 95 vh; /* Limit height to make scrolling visible */
  overflow-y: auto; /* Enable scrolling */
  gap: 14px; /* Space between images */
}

.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.primaryTex{
    margin: 2rem 1rem 1rem;
    display: flex;
}
.primaryTex img{
    margin-right: 10px;
}
.primaryText {
    @media (max-width: 640px) {
      font-size: 2.5rem;
    }
    font-size: 3rem;
    font-weight: bold;
   
  }
  
  .secondaryText {
    @media (max-width: 640px) {
      font-size: 1rem;
      line-height: 25px;
    }
    line-height: 25px;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 3rem;
  }